@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

body{
    background-color: rgb(96, 39, 129);
}

main{
    width: 260px;
    height: 520px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 20vh;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.589);
}

main > div#img > img{
    height: 140px;
    width: 260px;
    border-radius: 10px 10px 0px 0px;
}

main > h1{
    padding: 10px;
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center;
}

main > p {
    font-size: 0.8em;
    padding: 10px;
}

p.campo {
    height: 30px;
}

form > p.campo{
    background-color: rgb(96, 39, 129);
    border-radius: 5px;
    margin: 5px 10px;
    border: 12.5px solid rgb(96, 39, 129);
}

input#entrar{
   margin: auto;
   display: block;
   width: 240px;
   height: 40px;
   background-color: rgb(75, 138, 103);
   border-radius: 5px;
   border: none;
   font-weight: bold;
   color: white;
}

input#entrar:hover{
    background-color: rgb(43, 90, 64);
    cursor: pointer;
 }

p.campo > input{
    width: 170px;
    height: 30px;
    transform: translate(25%, -135%);
    border-radius: 5px;
    color: black;
    text-indent: 10px;
    background-color: rgb(152, 211, 188);
}

.icon{
    height: 40px;
    transform: translate(-10%);
}

#mail{
    height: 20px;
}